@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  background-color: black;
}

html,
body,
#root {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#root {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Masonry Grid Styles */
.my-masonry-grid {
  display: flex;
  margin-left: -1rem;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
  margin-bottom: 1.5rem;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar, .scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE / Edge */
}

.no-scrollbar::-webkit-scrollbar, .scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome / Safari / Opera */
}